.header {
    display: block;
    background: #86d2d2;
    width: 100%;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    padding: 15px;
    /* border-bottom: 1px dashed #c28c41; */
}

/* LOGO */
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
}
.logo-image {
    width: 40px;
}
.logo-image img {
    width: 100%;
    height: 100%;
}
.logo-text {
    color: #e6b974;
    -webkit-text-stroke:1px #1b6b7a;
}

/* MENU */
.menu {
    display: none;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #c28c41;
    color: #c28c41;
    cursor: pointer;
}.menu:hover {
    transform: scale(1.07);
}

/* LINKS */
.nav-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    width: 100%;
}
.links li {
    list-style: none;
}

.cart {
    width: 25px;
    border: none;
    background: transparent;
    cursor: pointer;
    text-wrap: nowrap;
    align-items: center;
    gap: 5px;
    font-size: 16px;
}.cart img {
    width: 100%;
    height: auto;
}.cart:hover {
    transform: scale(1.05);
}

.links a {
    text-decoration: none;
    color: #ffffff;
    padding: 15px;
}

@media screen and (max-width:768px) {
    .header {
        background: #edefef;
    }
    .navbar {
        padding: 10px 5px;
        gap: 15px;
        flex-direction: column;
        transition: 1s ease-in-out;
        border-bottom: 2px dotted #c28c41;
    }
    .logo-text {
        font-size: 17px;
    }
    .menu {
        display: block;
    }
    .nav-links {
        flex-direction: column;
        display: none;
        padding: 5px;
        gap: 20px;

    }
    .nav-links li {
        text-align: center;
    }
    .nav-links a{
        text-align: center;
    }

}